*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/comics/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.idea
db/schema.rb.old
p.sh
public/assets/*
update.sh
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
db/schema.rb
config/database.yml


