.page-header
  %h1 The Archives

- active = false
- comics_by_year = @comics.group_by { |c| c.publish_date.year }
#archiveCarousel.carousel.slide
  .carousel-inner
    - comics_by_year.each do |year, comics|
      - cls = "item"
      - unless active
        - cls += " active"
        - active = true
      %div{ :class => cls }
        %h2.alert-info=year
        %ul.unstyled.indented.span8
          - comics_by_month = comics.group_by { |y| y.publish_date.month }
          - comics_by_month.each do |month, comics|
            %li.span10
              %h3.alert-warning= t("date.month_names")[month]
              %ul.unstyled.span8.indented
                - comics.each do |c|
                  %li= link_to "#{c.publish_date.day.ordinalize} :: #{c.name}", archived_path(year, month, c.publish_date.day)
              %br
              %br
            %br
          %br
  %a.carousel-control.left{ :href  => "#archiveCarousel", :"data-slide" => "prev" }‹
  %a.carousel-control.right{ :href => "#archiveCarousel", :"data-slide" => "next" }›

