<%- model_class = Comic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<strong><%= @comic.name %></strong>
<br />
<%= image_tag @comic.image.url %>
<br />
<%= @comic.description %>
<br />

