<%- model_class = Comic -%>
<div class="page-header">
  <h1><%= @comic.name %></h1>
</div>

<div class="row">
  <div class="span12 comic"><%= image_tag @comic.image.url %></div>
</div>
<br />
<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span4"><%= @comic.description %></div>
  <div class="span4">&nbsp;</div>
</div>

<br />

<div class="row">
  <div class="span3">&nbsp;</div>
  <div class='navbar span6'>
    <nav class='navbar-inner'>
      <div class='container'>
        <ul class='nav'>
          <li class="span1"><a href="#">First</a></li>
          <li class="span1"><a href="#">Previous</a></li>
          <li class="span1"><a href="#">Latest</a></li>
          <li class="span1"><a href="#">Next</a></li>
          <li class="span1"><a href="#">Last</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="span3">&nbsp;</div>
</div>
